{% extends 'asentus/base.html' %}
{% load static %}


{% block title  %}  Art Of Coding {% endblock title %}
{% block h1 %} Art Of Coding {% endblock h1 %}



{%  block container %}
    <div>
        <div class="about-pages"><h1 style="text-align: center;"> Art Of Coding </h1></div>
        <h5 style="text-align: center;">Lorem ipsum dolor sit amet consectetur adipiscing <br>elit sed tempor incididunt ut laboret dolore adipiscing elit sed<br> tempor incididunt ut laboret dolore magna aliqua. Ut enimet minim<br> veniam magna aliqua. Ut enim minim veniam exercitation<br> laboris ut siad consequat siad minim enum esqudiat dolore.</h5>
        <h5 style="text-align: center;">Lorem ipsum dolor sit amet consectetur adipiscing <br>elit sed tempor incididunt ut laboret dolore adipiscing elit sed<br> tempor incididunt ut laboret dolore magna aliqua. Ut enimet minim<br> veniam magna aliqua. Ut enim minim veniam exercitation<br> laboris ut siad consequat siad minim enum esqudiat dolore.</h5>
        <h5 style="text-align: center;">Lorem ipsum dolor sit amet consectetur adipiscing <br>elit sed tempor incididunt ut laboret dolore adipiscing elit sed<br> tempor incididunt ut laboret dolore magna aliqua. Ut enimet minim<br> veniam magna aliqua. Ut enim minim veniam exercitation<br> laboris ut siad consequat siad minim enum esqudiat dolore.</h5>
    </div>

    <div>
        <div class="about-pages"><h1 style="text-align: center;"> Responsive Design </h1></div>
        <h5 style="text-align: center;">Lorem ipsum dolor sit amet consectetur adipiscing <br>elit sed tempor incididunt ut laboret dolore adipiscing elit sed<br> tempor incididunt ut laboret dolore magna aliqua. Ut enimet minim<br> veniam magna aliqua. Ut enim minim veniam exercitation<br> laboris ut siad consequat siad minim enum esqudiat dolore.</h5>
        <h5 style="text-align: center;">Lorem ipsum dolor sit amet consectetur adipiscing <br>elit sed tempor incididunt ut laboret dolore adipiscing elit sed<br> tempor incididunt ut laboret dolore magna aliqua. Ut enimet minim<br> veniam magna aliqua. Ut enim minim veniam exercitation<br> laboris ut siad consequat siad minim enum esqudiat dolore.</h5>
        <h5 style="text-align: center;">Lorem ipsum dolor sit amet consectetur adipiscing <br>elit sed tempor incididunt ut laboret dolore adipiscing elit sed<br> tempor incididunt ut laboret dolore magna aliqua. Ut enimet minim<br> veniam magna aliqua. Ut enim minim veniam exercitation<br> laboris ut siad consequat siad minim enum esqudiat dolore.</h5>
    </div>

    <div>
        <div class="about-pages"><h1 style="text-align: center;"> Feature Reach </h1></div>
        <h5 style="text-align: center;">Lorem ipsum dolor sit amet consectetur adipiscing <br>elit sed tempor incididunt ut laboret dolore adipiscing elit sed<br> tempor incididunt ut laboret dolore magna aliqua. Ut enimet minim<br> veniam magna aliqua. Ut enim minim veniam exercitation<br> laboris ut siad consequat siad minim enum esqudiat dolore.</h5>
        <h5 style="text-align: center;">Lorem ipsum dolor sit amet consectetur adipiscing <br>elit sed tempor incididunt ut laboret dolore adipiscing elit sed<br> tempor incididunt ut laboret dolore magna aliqua. Ut enimet minim<br> veniam magna aliqua. Ut enim minim veniam exercitation<br> laboris ut siad consequat siad minim enum esqudiat dolore.</h5>
        <h5 style="text-align: center;">Lorem ipsum dolor sit amet consectetur adipiscing <br>elit sed tempor incididunt ut laboret dolore adipiscing elit sed<br> tempor incididunt ut laboret dolore magna aliqua. Ut enimet minim<br> veniam magna aliqua. Ut enim minim veniam exercitation<br> laboris ut siad consequat siad minim enum esqudiat dolore.</h5>
    </div>

    <div>
        <div class="about-pages"><h1 style="text-align: center;"> Uselful Documentation </h1></div>
        <h5 style="text-align: center;">Lorem ipsum dolor sit amet consectetur adipiscing <br>elit sed tempor incididunt ut laboret dolore adipiscing elit sed<br> tempor incididunt ut laboret dolore magna aliqua. Ut enimet minim<br> veniam magna aliqua. Ut enim minim veniam exercitation<br> laboris ut siad consequat siad minim enum esqudiat dolore.</h5>
        <h5 style="text-align: center;">Lorem ipsum dolor sit amet consectetur adipiscing <br>elit sed tempor incididunt ut laboret dolore adipiscing elit sed<br> tempor incididunt ut laboret dolore magna aliqua. Ut enimet minim<br> veniam magna aliqua. Ut enim minim veniam exercitation<br> laboris ut siad consequat siad minim enum esqudiat dolore.</h5>
        <h5 style="text-align: center;">Lorem ipsum dolor sit amet consectetur adipiscing <br>elit sed tempor incididunt ut laboret dolore adipiscing elit sed<br> tempor incididunt ut laboret dolore magna aliqua. Ut enimet minim<br> veniam magna aliqua. Ut enim minim veniam exercitation<br> laboris ut siad consequat siad minim enum esqudiat dolore.</h5>
    </div>

    <div>
        <div class="about-pages"><h1 style="text-align: center;"> Fast Delivery </h1></div>
        <h5 style="text-align: center;">Lorem ipsum dolor sit amet consectetur adipiscing <br>elit sed tempor incididunt ut laboret dolore adipiscing elit sed<br> tempor incididunt ut laboret dolore magna aliqua. Ut enimet minim<br> veniam magna aliqua. Ut enim minim veniam exercitation<br> laboris ut siad consequat siad minim enum esqudiat dolore.</h5>
        <h5 style="text-align: center;">Lorem ipsum dolor sit amet consectetur adipiscing <br>elit sed tempor incididunt ut laboret dolore adipiscing elit sed<br> tempor incididunt ut laboret dolore magna aliqua. Ut enimet minim<br> veniam magna aliqua. Ut enim minim veniam exercitation<br> laboris ut siad consequat siad minim enum esqudiat dolore.</h5>
        <h5 style="text-align: center;">Lorem ipsum dolor sit amet consectetur adipiscing <br>elit sed tempor incididunt ut laboret dolore adipiscing elit sed<br> tempor incididunt ut laboret dolore magna aliqua. Ut enimet minim<br> veniam magna aliqua. Ut enim minim veniam exercitation<br> laboris ut siad consequat siad minim enum esqudiat dolore.</h5>
    </div>

    <div>
        <div class="about-pages"><h1 style="text-align: center;"> Free plugins </h1></div>
        <h5 style="text-align: center;">Lorem ipsum dolor sit amet consectetur adipiscing <br>elit sed tempor incididunt ut laboret dolore adipiscing elit sed<br> tempor incididunt ut laboret dolore magna aliqua. Ut enimet minim<br> veniam magna aliqua. Ut enim minim veniam exercitation<br> laboris ut siad consequat siad minim enum esqudiat dolore.</h5>
        <h5 style="text-align: center;">Lorem ipsum dolor sit amet consectetur adipiscing <br>elit sed tempor incididunt ut laboret dolore adipiscing elit sed<br> tempor incididunt ut laboret dolore magna aliqua. Ut enimet minim<br> veniam magna aliqua. Ut enim minim veniam exercitation<br> laboris ut siad consequat siad minim enum esqudiat dolore.</h5>
        <h5 style="text-align: center;">Lorem ipsum dolor sit amet consectetur adipiscing <br>elit sed tempor incididunt ut laboret dolore adipiscing elit sed<br> tempor incididunt ut laboret dolore magna aliqua. Ut enimet minim<br> veniam magna aliqua. Ut enim minim veniam exercitation<br> laboris ut siad consequat siad minim enum esqudiat dolore.</h5>
    </div>




{% endblock container %}


